{% extends 'base.html'%}

{% block title %} change Password {% endblock %}

{% block body %}

<section id="section" class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex  h-100">
            <div class="col-xl-08">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <h1 class="mt-1 mb-5 pb-1" id="header">Update Customer Password</h1>
                                </div>
                                <form onsubmit="return !!(check() & checkconfirmpassword())"
                                    action="{{ url_for('updatepassword',customer_id = account[1] or '') }}"
                                    method="post">
                                    <div class="form-outline mb-4">
                                        <input type="hidden" id="id" class="form-control" value="{{ account[0] or ''}}"
                                            name="id" placeholder="id" />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="hidden" id="customerid" class="form-control" name="customerid"
                                            value="{{ account[1] or ''}}" placeholder="Customer Id" />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="email" id="email" class="form-control form-control-lg" name="email"
                                            readonly value="{{ account[15] or ''}}" />
                                        <p id="mail" class="error"></p>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="password" id="password" class="form-control" value=""
                                            name="password" value="" placeholder="Password" />
                                        <p id="message" class="error"></p>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="password" id="conformpassword" class="form-control" value=""
                                            name="confirmpassword" value="" placeholder="Confirm Password" />
                                        <p id="passwd" class="error"></p>
                                    </div>
                                    {% if error %}
                                    <p class="error"><strong> {{ error }}</strong></p>
                                    {% endif %}
                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button id="btnenter" class="btn  btn-outline-primary"
                                            onclick="return confirm('Are You Sure To Update Customer Password?')"
                                            type="submit">Update</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h1 class="mb-4">Update Password</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}