{% extends 'base.html'%}

{% block title %} Customer Login Page {% endblock %}

{% block body %}

<section id="sectioncustom" class="vh-100" style="background-color: #9869a1;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form onsubmit="return !!(checkemail() & check())" action="{{url_for('customerlogin1')}}"
                            method="post">
                            <h1 class="mb-5" id="header">Customer Login</h1>
                            <h3><strong class="customerlogin">Welcome to customer of home Appliances</strong></h3>
                            <br />

                            <div class="form-outline mb-4">
                                <input type="email" id="email" class="form-control form-control-lg" name="email"
                                    placeholder="Enter E-mail" />
                                <p id="mail" class="error"></p>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="password" class="form-control form-control-lg"
                                    name="password" placeholder="Enter Password" />
                                <p id="message" class="error"></p>
                            </div>
                            {% if error %}
                            <p class="error"><strong>{{ error }}</strong></p>
                            {% endif %}
                            <button id="btnenter" class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}