{% extends 'base.html'%}

{% block title %} Home Appliances {% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand">Home Appliances</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('retailer')}}">Retailer Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('customer')}}">Customer Login</a>
            </li>
        </ul>
    </div>
</nav>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        {{ message }}
        <button  type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}
{% endwith %}
<div>
    <div class="containt"><img class="image" src="{{url_for('static',filename='images/1.png')}}"></div>
</div>

<div class="line">Welcome To Home Appliances</div>
{% endblock %}